.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

textarea {
    resize: vertical;
}

a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

h1,h2,h3,h4,h5 {
    line-height:1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

/* sidebar */

aside section:first-child {
    border: 0;
    padding-top: 0;
}

aside section {
    padding: 10px 0;
    margin-top: 20px;
}

aside section.user_info {
    margin-top: 20px;
}

aside section h1 {
    font-size: 1.8em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}

aside span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}

.gravatar {
    margin-right: 10px;
    width: 160px;
    height: 160px;
    border: 3px solid #53BCE2;
    border-radius: 10px;
    vertical-align: middle;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

    
  strong {
    display: block;
  }
}

.stats a:first-child {
    padding-left: 0;
    border: 0;
}

.stats a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #eeeeee;
    color: gray;
}

.stats a:hover {
    text-decoration: none;
    color: blue;
}

.stats strong {
    display: block;
}

.users {
    list-style: none;
    margin: 0;
}

.users li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}

.users li img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.mean-field {
    width:200px;
}

.word-field {
    width:200px;
}

.checkbox-field {
    width:50px;
}

.word-list-style {
    list-style:none;
}

.search-form {
    margin-top:10px;
}

.questions {
    display: block;
}

.question_content {
    display: block;
    margin-bottom: 20px;
}

.question_content span{
    font-weight: bold;
}

.answers {
    list-style: none;
}

.answers input {
    width: 40px;
}

.correct {
    display: none;
}

.correct_content {
    margin-left: -20px;
    font-weight: bold;
}

.btn {
    width: 150px;
}

.home_btn {
    margin-top: 30px;
}

#follow {
    background-color: #57A957;
    color:#fff;
}

#follow:hover {
    color:#fff;
}
